.tostada {
  position: absolute;
  top: 0;
  right: 0;
}

.pointer-none {
  pointer-events: none;
}

.slide-fade-enter-from {
  transform: translateX(100%);
  opacity: 0;
  filter: blur(4px);
}

.slide-fade-enter-active {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-fade-enter-to {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-to {
  opacity: 0;
  filter: blur(8px);
}

.form-control-disabled {
  background-color: #e9ecef;
  opacity: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div#layoutSidenav_content {
  overflow-x: hidden;
}

footer {
    margin-top: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.space-between {
  justify-content: space-between;
}